In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv("/main.csv")

In [82]:
df.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg

In [83]:
df['price'].isnull().sum()

16

There are 16 null values in price column

In [84]:
df['product_description'].unique()

array(['tomato', 'cucumber', 'onion', 'plum', 'orange', 'apple', 'grape',
       'milk-1.5', 'yogurt-1', 'butter-0.25'], dtype=object)

In [85]:
tom= df.loc[df['product_description']=='tomato']
tom_avg=tom['price'].mean()
tom_avg
#avg of tomato

3.1210344827586214

In [86]:
cuc= df.loc[df['product_description']=='cucumber']
cuc_avg=cuc['price'].mean()
cuc_avg
#avg of cucumber

4.532857142857142

In [87]:
ono= df.loc[df['product_description']=='onion']
ono_avg=ono['price'].mean()
ono_avg
#avg of onion

2.150714285714286

In [88]:
plu= df.loc[df['product_description']=='plum']
plu_avg=plu['price'].mean()
plu_avg
#avg of plum

4.3896551724137955

In [89]:
orn= df.loc[df['product_description']=='orange']
orn_avg=orn['price'].mean()
orn_avg
#avg of orange

2.714285714285715

In [90]:
app= df.loc[df['product_description']=='apple']
app_avg=app['price'].mean()
app_avg
#avg of apple

2.077777777777779

In [91]:
gra= df.loc[df['product_description']=='grape']
gra_avg=gra['price'].mean()
gra_avg
#avg of grape

4.400000000000002

In [92]:
mk= df.loc[df['product_description']=='milk-1.5']
mk_avg=mk['price'].mean()
mk_avg
#avg of milk

6.078571428571431

In [93]:
yg= df.loc[df['product_description']=='yogurt-1']
yg_avg=yg['price'].mean()
yg_avg
#avg of yogurt

6.693103448275866

In [94]:
btr= df.loc[df['product_description']=='butter-0.25']
btr_avg=btr['price'].mean()
btr_avg
#avg of butter

11.4

In [95]:
nan_values = df[df['price'].isna()]
nan_values.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg
73,1003,onion,vegetable,2021-11-14,NaN,39,kg
74,1003,onion,vegetable,2021-11-15,NaN,25,kg

In [96]:
nan_values['price_new'] = nan_values.loc[:, 'price']
nan_values.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,NaN
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,NaN
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,NaN
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,NaN
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,NaN

In [99]:
nan_values.loc[10,'price_new'] = tom_avg
nan_values.loc[34,'price_new'] = cuc_avg
nan_values.loc[37,'price_new'] = cuc_avg
nan_values.loc[73,'price_new'] = ono_avg
nan_values.loc[74,'price_new'] = ono_avg

In [102]:
nan_values.head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001.0,tomato,vegetable,2021-11-11,NaN,20.0,kg,3.121034
34,1002.0,cucumber,vegetable,2021-11-05,NaN,24.0,kg,4.532857
37,1002.0,cucumber,vegetable,2021-11-08,NaN,38.0,kg,4.532857
73,1003.0,onion,vegetable,2021-11-14,NaN,39.0,kg,2.150714
74,1003.0,onion,vegetable,2021-11-15,NaN,25.0,kg,2.150714

In [103]:
op=nan_values.head()

In [105]:
op.to_csv('output_question1.csv')